.search{
    border: 1px solid #c4c4c4;
    width: 500px;
    overflow-x: hidden;
    display: flex;
    border-radius: 50px;
    font-size: 18px;
    position: relative;
    left:30%;
    top:200px;
}
.search input{
    width: 300px;
    height:65px;
    border: none;
    padding: 8px 20px;
    outline: none;
    font-size: 18px;
   
}
.button-src{
    padding: 10px 110px; 
    display: inline-block;
}
.button-src button{
    padding: 10px 35px 10px 35px;
    border-radius: 50px;
    border: none;
    margin: 9px 7px;
    background-color: #FF7A00;
    color: #ffffff;
    font-size: 18px;
}
