<form action=/emotional_survey method="post">

    <div class="question" id="q1">
      <p>How are you feeling today?</p>
      <input type="radio" name="lv1" id="a1" value="1">
      <label for="a1">I'm sick</label>
      <input type="radio" name="lv2" id="a2" value="2">
      <label for="a2"></label>
      <input type="radio" name="lv3" id="a3" value="3">
      <label for="a3"></label>
      <input type="radio" name="lv4" id="a4" value="4">
      <label for="a4"></label>
      <input type="radio" name="lv5" id="a5" value="5">
      <label for="a5">Ready for summer!</label>
    </div>
    <div style = "padding-top: 20px;">
      <button>Submit</button>
      </div>
</form>
{% block health_survey %}{% endblock %}
{% block travel_inquiry %}{% endblock %}
{% block travel_plans %}{% endblock %}


