This is the homepage.
<h1>Dummy Title</h1>

<i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.</i>
<form action="/" method="post" role="search">
<div class="search">
    <input class="form-control" placeholder="Where are you planning on visiting..." name="query" id="query" type="text">
 </div>
</form>

<h1>FAQs</h1>
<button class="accordion">How is the data gathered?</button>
<div class="panel">
  <p>The data we visualized on Feel-Track come from the publ</p>
</div>

<button class="accordion">Why should I register to Feel-Track?</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Why is my information important?</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>
