We couldn't diagnose this disease based on your symptoms. You should consult a medical professional to determine your illness.

<br>

If you have done so, please enter the disease you have been diagnosed with

<form action=/self_diagnose method="post">

<div class="question" id="q1">
    <p>Diagnosis</p>
    <input type="text" name="illness" id="illness" >
    <label for="illness">What disease have you been diagnosed with</label>
  </div>
  <div style = "padding-top: 20px;">
    <button>Continue</button>
</div>
</form>