<form action=/survey method="post">

    <div class="question" id="q1">
      <p>How are you feeling today?</p>
      <input type="radio" name="1" id="a1" value="1">
      <label for="a1">I'm sick</label>
      <input type="radio" name="2" id="a2" value="2">
      <label for="a2"></label>
      <input type="radio" name="3" id="a3" value="3">
      <label for="a3"></label>
      <input type="radio" name="4" id="a4" value="4">
      <label for="a4"></label>
      <input type="radio" name="5" id="a5" value="5">
      <label for="a5">Ready for summer!</label>
    </div>
    <div style = "padding-top: 20px;">
           <button><p>Submit</p></button>
      </div>
</form>

